# Porta do servidor
PORT=3002

# Chave secreta para JWT (mude em produção!)
JWT_SECRET=ldfiguahisdfkgkasodifkmagyyhjspeiransmfpoajlskfj

# URI do MongoDB
MONGODB_URI=mongodb://localhost:27017/whatsapp-bot
